body{
    margin: 0;
    padding: 0;
  }
  
  /*헤더*/
  header{
    position: relative;
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    background-color: rgb(218, 223, 214);
    box-shadow: 0px 10px 30px -20px gray;
  }
  header p{
    margin: 0;
  }
  a{
    text-decoration-line: none;
    color:rgb(146, 164, 151);
  }
  .logo_name{
    position: absolute;
    left: 2%;
    display: flex;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    color:rgb(33, 67, 43);
  }
  .logo_name i{
    margin-top: 10px;
    margin-right: 10px;
  }
  .logo_menu{
    position: absolute;
    left: 70%;
    display: flex;
    align-items: baseline;
    text-align: center;
    margin-top: 50px;
  }
  .logo_menu a{
    color:rgb(146, 164, 151);
    padding-right: 30px;
    font-size: 25px;
  }
  .logo_menu a:hover{
    color:rgb(33, 67, 43);
    text-decoration-line: underline;
    transition: 1s;
  }
  .sign_up{
    position: absolute;
    right: 30px;
    top: 45px;
    border: 1px solid rgb(146, 164, 151);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 25px;
  }
  .sign_up:hover{
    background-color: rgb(33, 67, 43);
    color: white;
    transition: 0.8s;
  }
  /*메인*/
  main{
    width: 70%;
    margin: 0 auto;
  }
  /*목차*/
  main .menu_left{
    float: left;
    width: 20%;
    padding: 20px;
  }
  .list_title{
    font-weight: 600;
    margin-left: 10px;
    height: 42px;
    line-height: 42px;
    border-top: 1px solid rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);
  }
  main .menu_left .menu_list .first_menu .list_title{
    color: green;
    border-top: 3px solid green;
  }
  .list{
    background-color: rgb(238, 238, 238);
    margin: 0;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .list li{
    padding: 3px 0;
  }
  /*게시판 내용*/
  main .board_content{
    float: left;
    width: 72%;
    height: 600px;
    padding: 20px;
    padding-top: 10px;
  }
  main .board_content .board_top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  main .board_content .board_top h2{
    color: green;
  }
  main .board_content .board_top table td{
    font-size: 12px;
    padding: 5px;
  }
  main .board_content .board_center{
    margin-top: 20px;
  }
  main .board_content .board_center .board_alert{
    font-size: 13px;
  }
  main .board_content .board_center .board_filter{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn{
    background-color: rgb(114, 114, 114);
    color: white;
    padding: 2px 8px;
    border-radius: 3px;
  }
  main .board_content .board_center .board_filter select, input{
    height: 25px;
    width: 100px;
  }
  main .board_content .board_center .board_filter input{
    width: 200px;
    height: 20px;
  }
  main .board_content .board_center .board_article{
    margin-top: 10px;
  }
  main .board_content .board_center .board_article .article_table{
    width: 100%;
    text-align: center;
    border-top: 3px solid green;
    border-collapse: collapse;
  }
  main .board_content .board_center .board_article .article_table th{
    padding-bottom: 12px;
    padding-top: 8px;
    background-color: rgb(238, 238, 238);
  }
  main .board_content .board_center .board_article .article_table td{
    padding-bottom: 12px;
    padding-top: 8px;
    padding-left: 7px;
    padding-right: 7px;
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  main .board_content .board_center .board_article .article_table .content{
    text-align: left;
  }
  main .board_content .board_center .board_article .page_list{
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  main .board_content .board_center .board_article .page_list .page_selected{
    background-color: rgb(114, 114, 114);
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
  }
  main .board_content .board_center .board_article .page_list{
    margin-top: 20px;
  }
  main .board_content .board_center .board_article .page_list .page{
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
  }
  main .board_content .board_center .board_article .page_list .page:hover{
    background-color: rgb(114, 114, 114);
    color: white;
  }
  main .board_content .board_center .board_article .page_list a{
    background-color: #e9e9e9;
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    border-radius: 3px;
  }
  main .board_content .board_center .board_article .write{
    text-align: right;
  }