*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.menu_bar
{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    border: 3px solid black;
    position: relative;
    background-color: aqua;
}

/*🤷‍♀️🤷‍♀️🤷‍♀️🤷‍♀️🤷‍♀️🤷‍♀️🤷‍♀️*/
/* .menu_bar ul li a
{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100px;
    padding: 16px 16px;
    text-align: center;
} */

ul li a
{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100px;
    padding: 16px 16px;
    text-align: center;
}

a
{
    text-decoration: none;
}

.menu_bar ul
{
    list-style: none;
    display: flex;
    align-items: center;
}

.menu_bar_left   /*로고 + FLO*/
{
    display: flex;
    justify-content: left;
    font-size: medium;
    margin: 0 auto;
}

.menu_bar_center
{
    display: flex;
    justify-content: center;
    font-size: medium;
    margin: 0 auto;
}

.menu_bar_center li
{
    margin: 0 30px;
}

.menu_bar_right
{
    display: flex;
    justify-content: right;
    font-size: medium;
    margin: 0 auto;
}

.menu_bar_center li
{
    display: flex;
    justify-content: center;
    font-size: medium;
}

.menu_bar_center li a
{
    position: relative;
}

.dropDown-contents
{
    display: none;  /*영역까지 사라짐.*/
    position: absolute;
    background-color: #d6d2e4;
    min-width: 160px;
    z-index: 1;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.dropDown-contents a
{
    display: block;
    padding: 16px 16px;
}

.dropDown-contents a:hover
{
    background-color: bisque;
    width: auto;
}

li:hover .dropDown-contents
{
    display: block;
}

/* ul > li > a
{
    display: inline-block;
    width: 100px;
    padding: 16px 16px;
    text-align: center;
} */

ul > li:hover > a
{
    background-color: rgb(92, 93, 175);
}

/*회전목마 구간*/
.carousel
{
    width: 1200px;
    height: 400px;
    border: 3px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*바디 구간*/
.main_body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 700px;
    border: 3px solid rgb(255, 0, 0);
    margin: 0 auto;
}

.body_right_aside
{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid plum;
}

.body_center_form
{
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(17, 0, 255);
}

.form_elements label
{
    display: flex;
}

.body_left_aside
{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid purple;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 200px;
    border: 3px solid rgb(255, 0, 0);
}