@charset "UTF-8";

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top_detail
{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 600px;
}

.top_detail_img img
{
    width: 240px;
    height: 240px;
}

.top_detail_info
{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 600px;

}