@charset "UTF-8";

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top_detail
{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 600px;
    margin: 70px 70px 15px 70px;
    padding: 20px;
}

.top_detail_img img
{
    width: 240px;
    height: 240px;
    margin-right: 40px;
}

.top_detail_info
{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 600px;
}

.btn_div
{
    margin-left: 50px;
}

.btn_div input
{
    border: 0px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #3f3fff;
    font-size: 18px;
    color: white;
    margin-left: 10px;
    margin-bottom: 30px;
}

.btn_div input:hover
{
    background-color: #3f3fff6b;
    cursor: pointer;
}

.main_today_albums
{
    width: 1200px;
    border: solid 1px rgb(235 235 235);;
    border-left: none;
    border-right: none;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main_today_albums img
{
    width: 60px;
    height: 60px;
}

.body_detail_01
{


}

.body_detail_01 a
{
    text-decoration: none;
}

.body_detail_01 a > h4
{
    margin-bottom: 20px;
    margin-left: 40px;
}

.body_detail_01 a > h4, #title
{
    color: rgb(34 34 34);
}

.main_today_albums #content_hr
{
    /*번호와 곡 앨범 밑 줄 추가할 수 있으면 하기.*/
}

.main_today_albums tr
{
    margin: 50px;
}
