ul
{
    list-style-type: none;
    /*부모에게 flex
    display: flex;
    flex-direction: row; default
    flex-wrap: nowrap; default
    justify-content: center; -> 안해도 됨. 왼쪽으로 붙었기 때문에.
    align-items: center;
    ✔ padding-left: 0px;*/
}

li
{
    float: left;
    text-align: center;
    line-height: 30px;
}

a
{
    display: block;
    padding: 10px, 20px;
    width: 65px;
    height: 30px;
    background-color: #ccc;
}

a:link, a:visited
{
    color: black;
    text-decoration: none;
}

li a:hover
{
    background-color:#000;
    color:#fff;
}
